@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
.titulo_nombre{
  font-family: 'Carter One', cursive;
  font-size: 40px;

}
.container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: left;
    
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    /* opacity: 0.8; */
    border-radius: 10px;
    border-color: #000;
    }
    
    .item-left {
    background-color: #fff;
    padding: 10px;
    flex: 15%;
    /* text-align: justify; */
    }
    
    .item-right {
    background-color: #fff;
    padding: 10px;
    flex: 30%;
    
    
    }
    
    @media (max-width: 780px) {
    .item-right, .item-left {
        flex: 100%;
    }
    }
.titulo{
    text-align: center;
}
.tabla_info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.tabla_info  th {
    color: black;
    background-color: #287ef2;
    
  }
  .header{
    color: black;
    background-color: rgb(106, 207, 232);
    text-align: center;
  }
  .tabla_info  tr:nth-child(odd) {
    background-color: #eee;
  }
  
  .tabla_info  tr:nth-child(even) {
    background-color: #fff;
  }
  th, td , tr {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }

  .text_center{
    margin-left: 25%;
    /* margin-right: auto; */
  }
  .select_center{
    margin-left: auto;
    margin-right: auto;
  }
  .form_center{
    width: 300px;
    display:inline;
    margin-right: auto;
  }
  .text_inicio{
    margin-top: 15px;
    margin-left: 15px;

  }

  .select_inicio{
    margin-right: 60%;
    margin-left: 20px;
  }

  @media (max-width: 780px) {
    .select_inicio {
      margin-right: 25%;
    }
    }

 .large{
 width: 250px;
 }

 .container_inicio{
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: left;

  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  /* opacity: 0.8; */
  border-radius: 10px;
  border-color: #000;
}
.item-1 {
  background-color: #fff;
  padding: 10px;
  flex: 10%;
  text-align: justify;
}

.item-2 {
  background-color: #fff;
  padding: 10px;
  flex: 10%;
  text-align: justify;
}
.item-3 {
  background-color: #fff;
  padding: 10px;
  flex: 10%;
  text-align: justify;
}


@media (max-width: 780px) {
  .item-1, .item-2 , .item-3{
    text-align: center;
    flex: 100%;
  }
}

.item-left2 {
  background-color: #fff;
  padding: 10px;
  margin-right: -300px;
  flex: 30%;
  text-align: center;
  }
  
  .item-right2 {
  background-color: #fff;
  padding: 10px;
  flex: 30%;
  padding-top: 20px;
  
  
  }
  
  @media (max-width: 780px) {
  .item-right2, .item-left2 {
      flex: 100%;
      margin-right: 0;
  }
  }

.login{
  padding-left: 36%;
  padding-right: 36%;
  padding-top: 150px;
  /* width: 200px; */
}

@media (max-width: 1000px) {
  .login {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 150px;
  }
  }

.titulo_nombre2{
  font-family: 'Carter One', cursive;
  font-size: 60px;
  text-align: center;
}

.ingresar{
  /* margin-left: 25%; */
  padding-left: 40px;
  padding-right: 40px;
}

 